<mat-drawer-container autosize class="example-container">
    <mat-drawer mode="side" class="example-sidenav">
        <ng-container #viewport></ng-container>
    </mat-drawer>

    <div #divElement class="example-sidenav-content">
        {{ divElement.classList }}
        <!-- <button type="button" mat-button (click)="toggleSidenavOpened()">Toggle sidenav</button> -->
        <!-- <button #button type="button" mat-button (click)="drawer.toggle()">Toggle sidenav</button> -->
        <!--  <button #button type="button" mat-button (click)="toggleSidenavOpened()">
            Toggle sidenav
        </button> -->
        <button
            #button
            type="button"
            mat-button
            (click)="insertNavigationTemplate(navigationTemplateStore!)"
        >
            Generate
        </button>
    </div>
</mat-drawer-container>
