<mat-drawer-container autosize class="example-container">
    <!-- <mat-drawer #drawer mode="side" class="example-sidenav" [opened]="isSidenavOpened"> -->
    <mat-drawer #drawer mode="side" class="example-sidenav">
        <!-- <p>Auto-resizing sidenav</p>
        <p #directive>Auto-resizing sidenav</p>
        <p>Auto-resizing sidenav</p> -->
        <!-- <div #viewport></div> -->
        <ng-container #viewport></ng-container>
    </mat-drawer>

    <div #divElement class="example-sidenav-content">
        {{ divElement.classList }}
        <!-- <button type="button" mat-button (click)="toggleSidenavOpened()">Toggle sidenav</button> -->
        <!-- <button #button type="button" mat-button (click)="drawer.toggle()">Toggle sidenav</button> -->
        <button #button type="button" mat-button (click)="toggleSidenavOpened()">
            Toggle sidenav
        </button>
        <!-- <button #button type="button" mat-button (click)="insertNavigationTemplate(navigationTemplateStore!)">Generate</button> -->
    </div>
</mat-drawer-container>
