:host {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.example-container {
    width: 100%;
    height: 100%;
}

.example-sidenav-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.example-sidenav {
    padding: 20px;
}
