<mat-card class="card">
    <mat-card-header>
        <mat-card-title>9.6" Планшет Dexp Ursus S290 32 ГБ 3G черный</mat-card-title>
        <mat-card-subtitle>86 $</mat-card-subtitle>
    </mat-card-header>
    <div class="galerey">
        <button mat-icon-button disabled>
            <mat-icon>chevron_left</mat-icon>
        </button>
        <img
            mat-card-image
            alt="Product photo"
            src="https://c.dns-shop.ru/thumb/st1/fit/0/0/dff090e667cd39dd397678905df52de5/6c3e7aab802deb19513c7cf55dd7c527efb9127d8aba2ed90f3d224577137fe2.jpg"
        />
        <button mat-icon-button disabled>
            <mat-icon>chevron_right</mat-icon>
        </button>
    </div>
    <mat-card-content>
        <p>Отзывы: 2</p>
        <div class="raiting">
            Рейтинг:
            <mat-icon class="star-active">star</mat-icon>
            <mat-icon class="star-active">star</mat-icon>
            <mat-icon class="star-active">star</mat-icon>
            <mat-icon class="star-active">star</mat-icon>
            <mat-icon>star</mat-icon>
        </div>
    </mat-card-content>
    <mat-card-actions class="mat-card-actions-align-end">
        <button mat-button>Buy</button>
    </mat-card-actions>
</mat-card>
