<mat-card class="card">
    <mat-card-header>
        <mat-card-title>{{ products?.name }}</mat-card-title>
        <mat-card-subtitle>{{ products?.price }} $</mat-card-subtitle>
    </mat-card-header>
    <div class="galerey">
        <button mat-icon-button disabled>
            <mat-icon>chevron_left</mat-icon>
        </button>
        <img mat-card-image alt="Product photo" [src]="products && products.images[0].url" />
        <button mat-icon-button disabled>
            <mat-icon>chevron_right</mat-icon>
        </button>
    </div>
    <mat-card-content>
        <p>Отзывы: {{ products?.feedbacksCount }}</p>
        <div class="raiting">
            Рейтинг:
            <ng-container *ngIf="products">
                <mat-icon *ngFor="let item of getRatingStars(products.rating)" class="star-active">
                    star
                </mat-icon>
            </ng-container>
        </div>
    </mat-card-content>
    <mat-card-actions class="mat-card-actions-align-end">
        <button mat-button (click)="onClick($event, 1)">Buy</button>
    </mat-card-actions>
</mat-card>
