<mat-card class="product-card">
    <mat-card-title-group>
        <img
            mat-card-lg-image
            src="/assets/img/noutbuk-xiaomi-book-14-seryj.jpg"
            alt="Ноутбук Xiaomi Book 14 серый"
        />
    </mat-card-title-group>
    <mat-card-content>
        <div>
            14" Ноутбук Xiaomi Book 14 серый [2880x1800, IPS, Intel Core i5-12500H, RAM 16 ГБ, SSD
            512 ГБ, Intel Iris Xe Graphics, Windows 11 Home]
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button
            mat-mini-fab
            matTooltipPosition="right"
            color="primary"
            aria-label="Mini fab with a heart icon"
            class="mat-mdc-tooltip-trigger mdc-fab mdc-fab--mini mat-mdc-mini-fab mat-primary mat-mdc-button-base"
            [matTooltip]="tooltip"
        >
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-raised-button>Подробнее</button>
    </mat-card-actions>
</mat-card>
