<mat-toolbar color="primary">
    <button
        mat-icon-button
        aria-label="Example icon-button with menu icon"
        (click)="onClick($event)"
    >
        <mat-icon>menu</mat-icon>
    </button>
    <a href="https://www.google.ru/">Google</a>
    <img alt="Logo" class="shop-icon" [src]="aplicationConfig?.shopIconSrc" [routerLink]="'/'" />
    <span>{{ aplicationConfig?.title }}</span>
    <span class="example-spacer"></span>
    <button
        mat-icon-button
        aria-label="Example icon-button with heart icon"
        class="favorite-icon"
        (click)="openPopup(favoritePopupTempalte)"
    >
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>

<ng-template #favoritePopupTempalte let-title>
    {{ title }}
    <h1>No, you are favorite</h1>
    <button (click)="closePopup()">I know</button>
</ng-template>
