.backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    min-height: 50vh;
    padding: 1rem;
    background: rgb(247, 247, 247);
    color: rgb(80, 69, 69);
    z-index: 1;
}

.btn-container {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
}

.hidden {
    display: none;
}
