<!-- Easy вариант с не красивым применением -->
<!-- <app-card
    class="card"
    [product]="(products | productsFilter: name)?.[0] || null"
    (buy)="onProductBuy($event)"
></app-card>
<app-card
    class="card"
    [product]="(products | productsFilter: name)?.[1] || null"
    (buy)="onProductBuy($event)"
></app-card>
<app-card
    class="card"
    [product]="(products | productsFilter: name)?.[2] || null"
    (buy)="onProductBuy($event)"
></app-card>
<app-card
    class="card"
    [product]="(products | productsFilter: name)?.[3] || null"
    (buy)="onProductBuy($event)"
></app-card>
<app-card
    class="card"
    [product]="(products | productsFilter: name)?.[4] || null"
    (buy)="onProductBuy($event)"
></app-card> -->

<!-- Easy вариант со структурной директивой -->
<!-- <ng-template let-productsFromNgIf [ngIf]="products | productsFilter: name">
    <app-card
        class="card"
        [product]="productsFromNgIf[0] || null"
        (buy)="onProductBuy($event)"
    ></app-card>
    <app-card
        class="card"
        [product]="productsFromNgIf[1] || null"
        (buy)="onProductBuy($event)"
    ></app-card>
    <app-card
        class="card"
        [product]="productsFromNgIf[2] || null"
        (buy)="onProductBuy($event)"
    ></app-card>
    <app-card
        class="card"
        [product]="productsFromNgIf[3] || null"
        (buy)="onProductBuy($event)"
    ></app-card>
    <app-card
        class="card"
        [product]="productsFromNgIf[4] || null"
        (buy)="onProductBuy($event)"
    ></app-card>
</ng-template> -->

<!-- Hard вариант с не красивым применением -->
<app-card
    class="card"
    [product]="(products | filterByProperty: propertyName : searchPropertyValue)?.[0] || null"
    (buy)="onProductBuy($event)"
></app-card>
<app-card
    class="card"
    [product]="(products | filterByProperty: propertyName : searchPropertyValue)?.[1] || null"
    (buy)="onProductBuy($event)"
></app-card>
<app-card
    class="card"
    [product]="(products | filterByProperty: propertyName : searchPropertyValue)?.[2] || null"
    (buy)="onProductBuy($event)"
></app-card>
<app-card
    class="card"
    [product]="(products | filterByProperty: propertyName : searchPropertyValue)?.[3] || null"
    (buy)="onProductBuy($event)"
></app-card>
<app-card
    class="card"
    [product]="(products | filterByProperty: propertyName : searchPropertyValue)?.[4] || null"
    (buy)="onProductBuy($event)"
></app-card>

<!-- Hard вариант со структурной директивой -->
<!-- <ng-template
    let-productsFromNgIf
    [ngIf]="products | filterByProperty: propertyName : searchPropertyValue"
>
    <app-card
        class="card"
        [product]="productsFromNgIf[0] || null"
        (buy)="onProductBuy($event)"
    ></app-card>
    <app-card
        class="card"
        [product]="productsFromNgIf[1] || null"
        (buy)="onProductBuy($event)"
    ></app-card>
    <app-card
        class="card"
        [product]="productsFromNgIf[2] || null"
        (buy)="onProductBuy($event)"
    ></app-card>
    <app-card
        class="card"
        [product]="productsFromNgIf[3] || null"
        (buy)="onProductBuy($event)"
    ></app-card>
    <app-card
        class="card"
        [product]="productsFromNgIf[4] || null"
        (buy)="onProductBuy($event)"
    ></app-card>
</ng-template> -->
