<ng-container *ngIf="products$ | async as products; else loader">
    <ng-container
        *appPagination="
            let productsGroup of products;
            chankSize: 4;
            let pageIndexes = pageIndexes;
            let activeIndex = index;
            let next = next;
            let back = back;
            let selectIndex = selectIndex
        "
    >
        <div class="cards">
            <!-- <app-card
                *ngFor="let product of productsGroup; trackBy: trackBy"
                class="card"
                [product]="product"
                (buy)="onProductBuy($event)"
                (click)="navigateToProduct()"
            ></app-card> -->
            <app-card
                *ngFor="let product of productsGroup; trackBy: trackBy"
                class="card"
                [product]="product"
                [routerLink]="['/product', product._id]"
                (buy)="onProductBuy($event)"
            ></app-card>
        </div>
        <div class="pagination">
            <button mat-icon-button (click)="back()">
                <mat-icon>chevron_left</mat-icon>
            </button>
            <div class="pagination__page-number-container">
                <button
                    *ngFor="let index of pageIndexes"
                    mat-icon-button
                    class="pagination__page-number"
                    [class.pagination__page-number_active]="activeIndex === index"
                    (click)="selectIndex(index)"
                >
                    {{ index + 1 }}
                </button>
            </div>
            <button mat-icon-button (click)="next()">
                <mat-icon>chevron_right</mat-icon>
            </button>
        </div>
    </ng-container>
</ng-container>

<ng-template #loader>
    <mat-spinner></mat-spinner>
</ng-template>
