<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Bender Futurama</mat-card-title>
        <mat-card-subtitle>Cartoon Futurama Bender Action Figure Model</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/bender.png" alt="Photo of a Shiba Inu" />
    <mat-card-content>
        <p>
            Bender Bending Rodríguez (designated in-universe as Bending Unit 22, unit number 1,729,
            serial number 2716057) is one of the main characters in the animated television series
            Futurama. He was conceived by the series' creators Matt Groening and David X. Cohen, and
            is voiced by John DiMaggio. He fulfills a comic, antihero-type role in the show, and is
            described by fellow character Leela as an "alcoholic, whore-mongering, chain-smoking
            gambler".
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
    </mat-card-actions>
</mat-card>
